body {
    margin: 0;
}

main {
    width: 1200px;
    margin: 0 auto;
    height: 80vh;
}

#main-header {
    width: 100%;
    background-color: #a8dadc;

    > div {
        width: 1200px;
        margin: 0 auto;
        // justify-content: space-between;
        display: flex;
        align-items: center;

        div {
            &:last-of-type {
                flex-direction: row;
                flex: 1;
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .navigation {
        .nav-links {
            .nav-link {
                padding: 8px 18px;
                border: 2px solid #457b9d;
                color: #457b9d;
                font-weight: 500;
                font-size: 18px;
                border-radius: 6px;

                &:hover {
                    cursor: pointer;
                    background-color: #457b9d;
                    color: #fff;
                }

                &.active {
                    background-color: #457b9d;
                    color: #fff;
                }
            }
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 20px;
            list-style: none;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

#footer {
    display: flex;
    margin: 0 auto;
    background-color: #a8dadc;

    div {
        width: 50%;
    }
}
