.products {
    padding: 30px 0;

    .container-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .product {
            background: #000000de;
            width: 30%;
            margin-bottom: 30px;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }

        .stock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .counter {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                p {
                    text-align: center;
                    width: 100%;
                }

                .count {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}
